<template>
  <div>
    <!--Dark theme image-->
    <g-image
      v-if="darkSrc"
      class="d-light-none"
      :src="require(`!!assets-loader!@/assets/${darkSrc}`)"
      :alt="alt"
    />
    <!--Light theme image-->
    <g-image
      v-if="lightSrc"
      class="d-dark-none"
      :src="require(`!!assets-loader!@/assets/${lightSrc}`)"
      :alt="alt"
    />
  </div>
</template>

<script>
export default {
  name: "ThemedImage",
  props: {
    lightSrc: {
      type: String,
      default: ""
    },
    darkSrc: {
      type: String,
      default: ""
    },
    alt: {
      type: String,
      default: ""
    }
  }
};
</script>
